<p><%= @user %>,</p>

<p>To activate your account for Codethink <%= @app_name %>, click on this link:</p>

<p>  <a href="<%= user_activate_url :id => @user, :key => @key %>"><%= user_activate_url :id => @user, :key => @key %></a></p>

<p>Thank you,<br />

paul.sherwood@codethink.co.uk
